#logo{

    position: left;
    height: 100vh;
    z-index: 1000;
    background-color: $darkpurple;

    // CSS grid
    // display: grid;
    // grid-template-columns: 100vw auto;
    // grid-template-areas: "logo .";

    // @include md{
    //     grid-template-columns: 90vw auto;
    // }

    // @include xl{
    //     grid-template-columns: 80vw auto;
    // }

    >div{

        grid-area: logo;
        height: 100%; 

        svg{
            width: 100%;
        }

    }

}