/* =============
    Navigation
============= */

nav {
    height: 100%;
    ul{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;

        font-family: Heebo;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 35px;

        li{

            margin-right: 4vw;

            a:link, a:visited{
                font-family: 'Heebo', sans-serif;
                color: black;
                transition: 0.25s;
                // font-size: 24;
                // font-weight: 500;

                &:hover, &:active{
                    color: $navy;
                }

            }
        }
    }

}